h1{
    padding-top: .5em;
    color: white;
    font-family: "Lucida Console";
}

.form-group{
    margin: .5em;
    width: 90%;
}

textarea{
    resize: none;
}

.input-group-text{
    padding: .3em;
    width: 100%;
}

#resolution{
    width: 90%;
}

#generatedImageCol{
    margin-top: .5em;
    background-color: rgba(33, 37, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
}

.input-group *,
.input-group textarea:active,
.input-group input:active,
.input-group button:active,
.input-group select:active,
.input-group textarea:focus,
.input-group input:focus,
.input-group button:focus,
.input-group select:focus {
    background-color: #6f6f6f;
}

select,
input
{
    border: none;
}